@import "modules/variables";
@import "modules/global";
@import "modules/transition";

.main {
  display: flex;
  align-self: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient($soft-violet, $soft-blue);
}

// * Card Styling

.card {
  max-width: 327px;
  margin: 148px 24px 85px;
  padding: 25px;
  background-color: #fff;
  border-radius: 22px;

  &__img-container {
    margin-top: -50%;
    margin-bottom: 20px;
    max-width: 100%;
    padding-bottom: 10px;
    background-image: url(../images/illustration-woman-online-mobile.svg),
      url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top center, bottom center;
  }

  &__img {
    display: block;
    width: 100%;
    visibility: hidden;
  }

  &__heading {
    color: $very-dark-desaturated-blue;
    font-size: 32px;
    font-weight: $bold-font-weight;
    text-align: center;
    margin: 15px auto;
  }
}

// * Accordion Styling

.accordion {
  &__button {
    display: flex;
    align-items: center;
    padding: 17px 0;
    width: 100%;
    text-align: left;
    background-color: #fff;
    color: $very-dark-grayish-blue;
    @include transition(
      $duration,
      $timing-function,
      padding-bottom,
      font-weight,
      color
    );

    &::after {
      content: url("../images/icon-arrow-down.svg");
      margin-left: auto;
      @include transition($duration, $timing-function, transform);
    }

    &:hover {
      color: $soft-red;
    }

    &:not(.accordion__button--collapsed) {
      padding-bottom: 12px;
      font-weight: $bold-font-weight;
      color: $very-dark-desaturated-blue;

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    max-height: 0;
    padding-right: 16px;
    overflow: hidden;
    color: transparent;
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px solid $light-grayish-blue;
    @include transition(
      $duration,
      $timing-function,
      max-height,
      padding-bottom,
      color
    );

    &--show {
      max-height: 100px;
      padding-bottom: 20px;
      color: $dark-grayish-blue;
    }
  }
}

// * Footer Styling
.footer {
  display: none;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
