* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $kumbh-sans-font;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: $kumbh-sans-font;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
