$duration: 0.5s;
$timing-function: ease;

@mixin transition($duration, $timing-function, $property...) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
}
