// * Variables
// * Text Primary Colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// * Gradient Background Color
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// * Text Neutral Colors
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// * Dividers Neutral Color
$light-grayish-blue: hsl(240, 5%, 91%);

// * Font Family
$kumbh-sans-font: "Kumbh Sans", sans-serif;

// * Font Weight
$regular-font-weight: 400;
$bold-font-weight: 700;
